<% layout("/layout/every.ejs") %>

  <body>
    <style type="text/css">
      body {
        padding-top: 30px;
      }

      .form-control {
        margin-bottom: 10px;
      }

      .floating-box {
        display: inline-block;
        width: 150px;
        height: 75px;
        margin: 10px;
        border: 3px solid #73AD21;
      }
    </style>
    <style type="text/css">
      body {
        padding-top: 30px;
      }

      .form-control {
        margin-bottom: 10px;
      }

      label {
        padding: 0 !important;
      }

      hr {
        border-top: 1px solid #025198 !important;
      }

      span {
        font-size: 1.2em;
        font-family: 'Oswald', sans-serif !important;
        text-align: left !important;
        padding: 0px 10px 0px 0px !important;
        /*margin-bottom: 20px!important;*/

      }

      hr {
        border-top: 1px solid #025198 !important;
        border-style: dashed !important;
        border-width: 1.2px;
      }

      .panel-heading {
        font-size: 1.3em;
        font-family: 'Oswald', sans-serif !important;
        letter-spacing: .5px;
      }

      .btn-primary {
        padding: 9px;
      }
    </style>





    <div class="container">




      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 well">
          <form class="form-horizontal" action="/formpages/2" method="POST">
            <input type="hidden" value="" />
            <fieldset>

              <legend>
                <div class="row">
                  <div class="col-md-10">
                    <h4>Welcome : <font color="#025198"><strong>
                          <%= firstname %>&nbsp;<%= lastname %>
                        </strong></font>
                    </h4>
                  </div>
                  <div class="col-md-2">
                    <a href="/logout" class="btn btn-sm btn-success  pull-right">Logout</a>
                  </div>
                </div>


              </legend>

              <h4 style="text-align:center; font-weight: bold; color: #6739bb;">2. Educational Qualifications</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-success">
                    <div class="panel-heading">(A) Details of PhD *</div>
                    <div class="panel-body">

                      <span class="col-md-2 control-label" for="college_phd">University/Institute</span>
                      <div class="col-md-4">
                        <input id="college_phd" value="" name="college_phd" type="text"
                          placeholder="University/Institute" class="form-control input-md" autofocus="" required="">
                      </div>

                      <span class="col-md-2 control-label" for="stream">Department</span>
                      <div class="col-md-4">
                        <input id="stream" value="" name="stream_phd" type="text" placeholder="Department"
                          class="form-control input-md" autofocus="">
                      </div>

                      <span class="col-md-2 control-label" for="duration_phd">Name of PhD Supervisor</span>
                      <div class="col-md-4">
                        <input id="supervisor" name="supervisor_phd" type="text" placeholder="Name of Ph. D. Supervisor"
                          value="" class="form-control input-md" required="">
                      </div>

                      <span class="col-md-2 control-label" for="yoj_phd">Year of Joining</span>
                      <div class="col-md-4">
                        <input id="yoj_phd" value="" name="yoj_phd" type="text" placeholder="Year of Joining"
                          class="form-control input-md" required="">
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <span class="col-md-2 control-label" for="dod_phd">Date of Successful Thesis Defence</span>
                          <div class="col-md-4">
                            <input id="dod_phd" name="dod_phd" type="text" data-provide="datepicker"
                              placeholder="Date of Defence" value="" class="form-control input-md datepicker"
                              required="">
                          </div>

                          <span class="col-md-2 control-label" for="doa_phd">Date of Award</span>
                          <div class="col-md-4">
                            <input id="doa_phd" name="doa_phd" type="text" data-provide="datepicker"
                              placeholder="Date of Award" value="" class="form-control input-md datepicker" required="">
                          </div>
                        </div>
                      </div>
                      <br />
                      <span class="col-md-2 control-label" for="phd_title">Title of PhD Thesis</span>
                      <div class="col-md-10">
                        <input id="phd_title" value="" name="phd_title" type="text" placeholder="Title of PhD Thesis"
                          class="form-control input-md" required="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-success">
                    <div class="panel-heading">(B) Academic Details - M. Tech./ M.E./ PG Details</div>
                    <div class="panel-body">

                      <span class="col-md-2 control-label" for="pg_degree">Degree/Certificate</span>
                      <div class="col-md-4">
                        <input id="pg_degree" value="" name="pg_degree" type="text" placeholder="Degree/Certificate"
                          class="form-control input-md" autofocus="">
                      </div>

                      <span class="col-md-2 control-label" for="pg_college">University/Institute</span>
                      <div class="col-md-4">
                        <input id="pg_college" value="" name="pg_college" type="text" placeholder="University/Institute"
                          class="form-control input-md" autofocus="">
                      </div>

                      <span class="col-md-2 control-label" for="pg_subjects">Branch/Stream</span>
                      <div class="col-md-4">
                        <input id="pg_subjects" name="pg_stream" type="text" placeholder="Branch/Stream" value=""
                          class="form-control input-md">
                      </div>

                      <span class="col-md-2 control-label" for="pg_yoj">Year of Joining</span>
                      <div class="col-md-4">
                        <input id="pg_yoj" value="" name="pg_yoj" type="text" placeholder="Year of Joining"
                          class="form-control input-md">
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <span class="col-md-2 control-label" for="pg_yog">Year of Completion</span>
                          <div class="col-md-4">
                            <input id="pg_yog" name="pg_yoc" type="text" placeholder="Year of Completion" value=""
                              class="form-control input-md">
                          </div>

                          <span class="col-md-2 control-label" for="pg_duration">Duration (in years)</span>
                          <div class="col-md-4">
                            <input id="pg_duration" name="pg_duration" type="text" placeholder="Duration" value=""
                              class="form-control input-md">
                          </div>

                          <span class="col-md-2 control-label" for="pg_perce">Percentage/ CGPA</span>
                          <div class="col-md-4">
                            <input id="pg_perce" name="pg_cgpa" type="text" placeholder="Percentage/ CGPA" value=""
                              class="form-control input-md">
                          </div>

                          <span class="col-md-2 control-label" for="pg_rank">Division/Class</span>
                          <div class="col-md-4">
                            <input id="pg_rank" name="pg_division" type="text" placeholder="Division/Class" value=""
                              class="form-control input-md">
                          </div>
                        </div>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-success">
                    <div class="panel-heading">(C) Academic Details - B. Tech /B.E. / UG Details *</div>
                    <div class="panel-body">

                      <span class="col-md-2 control-label" for="ug_degree">Degree/Certificate</span>
                      <div class="col-md-4">
                        <input id="ug_degree" value="" name="ug_degree" type="text" placeholder="Degree/Certificate"
                          class="form-control input-md" autofocus="" required="">
                      </div>

                      <span class="col-md-2 control-label" for="ug_college">University/Institute</span>
                      <div class="col-md-4">
                        <input id="ug_college" value="" name="ug_college" type="text" placeholder="University/Institute"
                          class="form-control input-md" autofocus="">
                      </div>

                      <span class="col-md-2 control-label" for="ug_subjects">Branch/Stream</span>
                      <div class="col-md-4">
                        <input id="ug_subjects" name="ug_stream" type="text" placeholder="Branch/Stream" value=""
                          class="form-control input-md" required="">
                      </div>

                      <span class="col-md-2 control-label" for="ug_yoj">Year of Joining</span>
                      <div class="col-md-4">
                        <input id="ug_yoj" value="" name="ug_yoj" type="text" placeholder="Year of Joining"
                          class="form-control input-md" required="">
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <span class="col-md-2 control-label" for="ug_yog">Year of Completion</span>
                          <div class="col-md-4">
                            <input id="ug_yog" name="ug_yoc" type="text" placeholder="Year of Completion" value=""
                              class="form-control input-md" required="">
                          </div>

                          <span class="col-md-2 control-label" for="ug_duration">Duration (in years)</span>
                          <div class="col-md-4">
                            <input id="ug_duration" name="ug_duration" type="text" placeholder="Duration" value=""
                              class="form-control input-md" required="">
                          </div>

                          <span class="col-md-2 control-label" for="ug_perce">Percentage/ CGPA</span>
                          <div class="col-md-4">
                            <input id="ug_perce" name="ug_cgpa" type="text" placeholder="Percentage/ CGPA" value=""
                              class="form-control input-md" required="">
                          </div>

                          <span class="col-md-2 control-label" for="ug_rank">Division/Class</span>
                          <div class="col-md-4">
                            <input id="ug_rank" name="ug_division" type="text" placeholder="Division/Class" value=""
                              class="form-control input-md" required="">
                          </div>
                        </div>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-success">
                    <div class="panel-heading">(D) Academic Details - School *
                    </div>
                    <div class="panel-body">
                      <table class="table table-bordered">

                        <tr height="30px">
                          <th class="col-md-3"> 10th/12th/HSC/Diploma </th>
                          <th class="col-md-3"> School </th>
                          <th class="col-md-1"> Year of Passing</th>
                          <th class="col-md-2"> Percentage/ Grade </th>
                          <th class="col-md-2"> Division/Class </th>
                        </tr>


                        <tr height="60px">
                          <td class="col-md-2">
                            <input id="hsc_ssc1" type="text" value="12th/HSC/Diploma" placeholder=""
                              class="form-control input-md" readonly="" required="">
                          </td>

                          <td class="col-md-2">
                            <input id="school1" name="hsc_school" type="text" value="" placeholder="School"
                              class="form-control input-md" maxlength="80" required="">
                          </td>
                          <td class="col-md-2">
                            <input id="passing_year1" name="hsc_passingyear" type="text" value=""
                              placeholder="Passing Year" class="form-control input-md" maxlength="5" required="">
                          </td>



                          <td class="col-md-2">
                            <input id="s_perce1" name="hsc_percentage" type="text" value="" placeholder="Percentage/Grade"
                              class="form-control input-md" maxlength="5" required="">
                          </td>


                          <td class="col-md-2">
                            <input id="s_rank1" name="hsc_division" type="text" value="" placeholder="Divison/Class"
                              class="form-control input-md" maxlength="5" required="">
                          </td>


                        </tr>

                        <tr height="60px">
                          <td class="col-md-2">
                            <input id="hsc_ssc2" type="text" value="10th" placeholder=""
                              class="form-control input-md" readonly="" required="">
                          </td>

                          <td class="col-md-2">
                            <input id="school2" name="ssc_school" type="text" value="" placeholder="School"
                              class="form-control input-md" maxlength="80" required="">
                          </td>
                          <td class="col-md-2">
                            <input id="passing_year2" name="ssc_passingyear" type="text" value=""
                              placeholder="Passing Year" class="form-control input-md" maxlength="5" required="">
                          </td>
                          <td class="col-md-2">
                            <input id="s_perce2" name="ssc_percentage" type="text" value="" placeholder="Percentage/Grade"
                              class="form-control input-md" maxlength="5" required="">
                          </td>
                          <td class="col-md-2">
                            <input id="s_rank2" name="ssc_division" type="text" value="" placeholder="Divison/Class"
                              class="form-control input-md" maxlength="5" required="">
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-success">
                    <div class="panel-heading">
                      (E) Additional Educational Qualification (If any)
                      <button class="btn btn-sm btn-danger" id="add_more_acde" type="button">Add More</button>
                    </div>
                    <div class="panel-body">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Degree/Certificate</th>
                            <th>University/Institute</th>
                            <th>Branch/Stream</th>
                            <th>Year of Joining</th>
                            <th>Year of Completion</th>
                            <th>Duration (in years)</th>
                            <th>Percentage/ CGPA</th>
                            <th>Division/Class</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody id="acde">
                          <!-- Existing rows will be inserted here -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Form Name -->



              <div class="form-group">

                <div class="col-md-1">
                  <a href="/formpages/1" class="btn btn-primary pull-left"><i
                      class="glyphicon glyphicon-fast-backward"></i></a>
                </div>

                <div class="col-md-11">
                  <button id="submit" type="submit" value="Submit" class="btn btn-success pull-right"
                    style="margin-left: 75%;">SAVE & NEXT</button>
                </div>


              </div>

            </fieldset>
          </form>

        </div>
      </div>
    </div>

    <script type="text/javascript">
      function yearcalc() {
        // alert('hi');
        var num1 = document.getElementById("yoj").value;
        var num2 = document.getElementById("yog").value;

        var duration_year = parseFloat(num2) - parseFloat(num1);
        // alert(duration_year);
        document.getElementById("result_test").value = duration_year;

      }
      $(document).ready(function () {
    var counter_acde = 1;

    $("#add_more_acde").click(function () {
        var row = `
            <tr id="row${counter_acde}">
                <td><input type="text" name="add_degree[]" placeholder="Degree" class="form-control input-md" required></td>
                <td><input type="text" name="add_college[]" placeholder="College" class="form-control input-md" required></td>
                <td><input type="text" name="add_subjects[]" placeholder="Subjects" class="form-control input-md" required></td>
                <td><input type="text" name="add_yoj[]" placeholder="Year Of Joining" class="form-control input-md" required></td>
                <td><input type="text" name="add_yog[]" placeholder="Year Of Graduation" class="form-control input-md" required></td>
                <td><input type="text" name="add_duration[]" placeholder="Duration" class="form-control input-md" required></td>
                <td><input type="text" name="add_perce[]" placeholder="Percentage" class="form-control input-md" required></td>
                <td><input type="text" name="add_division[]" placeholder="Rank" class="form-control input-md" required></td>
                <td><button class="btn btn-sm btn-danger" type="button" onclick="removeRow(${counter_acde})">Remove</button></td>
            </tr>
        `;
        $("#acde").append(row);
        counter_acde++;
    });

    // Corrected removeRow function
    $(document).on("click", ".btn-danger", function () {
        $(this).closest('tr').remove();
    });
});



      function create_input(t_name, place_value, id, tbody_id, counter, remove_name, btn = false, datepicker_set = false, length = 80) {
        var tr = $("<tr>");
        var td = $("<td>");
        var input = $("<input>").attr({
          type: "text",
          name: t_name,
          id: id,
          placeholder: place_value,
          class: "form-control input-md",
          required: ""
        });
        td.append(input);
        tr.attr("id", "row" + counter).append(td);
        if (btn) {
          var button = $("<button>").attr({
            class: "close",
            onclick: "remove_row('" + remove_name + "','" + counter + "')"
          }).html("<span style='color:red; font-weight:bold;'>x</span>");
          td.append(button);
        }
        $("#" + tbody_id).append(tr);
        if (datepicker_set) {
          $("#" + id).datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
          });
        }
      }

      function remove_row(remove_name, n) {
        $("#row" + n).remove();
      }



      function create_tr() {
        tr = document.createElement("tr");
      }
      function for_date_picker(obj) {
        obj.setAttribute("data-provide", "datepicker");
        obj.className += " datepicker";
        return obj;

      }
      function create_input(t_name, place_value, id, tbody_id, counter, remove_name, btn = false, datepicker_set = false, length = 80) {
        var input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("name", t_name);
        input.setAttribute("id", id);
        input.setAttribute("placeholder", place_value);
        input.setAttribute("class", "form-control input-md");
        input.setAttribute("required", "");
        if (datepicker_set == true) {
          input = for_date_picker(input);
        }
        var td = document.createElement("td");
        td.appendChild(input);
        if (btn == true) {
          // alert();
          var but = document.createElement("button");
          but.setAttribute("class", "close");
          but.setAttribute("onclick", "remove_row('" + remove_name + "','" + counter + "')");
          but.innerHTML = "<span style='color:red; font-weight:bold;'>x</span>";
          td.appendChild(but);
        }
        tr.setAttribute("id", "row" + counter);
        tr.appendChild(td);
        document.getElementById(tbody_id).appendChild(tr);
        $('.datepicker').datepicker({
          format: 'dd/mm/yyyy',
          autoclose: true
        });
      }

    </script>

    <script type="text/javascript">
      $(function () {
        $('.datepicker').datepicker({
          format: 'dd/mm/yyyy',
          autoclose: true
        });
      });

    </script>


  </body>