<% layout("/layout/every.ejs") %>
<body>
    <style type="text/css">
    body { padding-top:30px; }
    .form-control { margin-bottom: 10px; }
    .floating-box {
        display: inline-block;
        width: 150px;
        height: 75px;
        margin: 10px;
        border: 3px solid #73AD21;  
    }
    </style>
    <style type="text/css">
    body { padding-top:30px; }
    .form-control { margin-bottom: 10px; }
    label{
      padding: 0 !important;
    }
    
    span{
      font-size: 1.2em;
      font-family: 'Oswald', sans-serif!important;
      text-align: left!important;
      padding: 0px 10px 0px 0px!important;
      /*margin-bottom: 20px!important;*/
    
    }
    hr{
      border-top: 1px solid #025198 !important;
      border-style: dashed!important;
      border-width: 1.2px;
    }
    .panel-heading{
      font-size: 1.3em;
      font-family: 'Oswald', sans-serif!important;
      letter-spacing: .5px;
    }
    .btn-primary {
      padding: 9px;
    }
    </style>
    <script type="text/javascript">
                 
                $(function () {
                    $('#dob').datepicker({
                        format: 'dd/mm/yyyy',
                        autoclose: true
                    });
                });
    </script>
    
    <script type="text/javascript">
    var tr="";
    var counter_jour=1;
    // var counter_confer=1;
    var counter_book=1;
    var counter_book_chapter=1;
    var counter_patent=1;
      $(document).ready(function(){
    
        $("#add_more_jour").click(function(){
            create_tr();
            create_serial('jour');
            create_input('author[]', 'Author', 'author'+counter_jour,'jour', counter_jour, 'jour');
            create_input('title[]', 'Title', 'title'+counter_jour,'jour', counter_jour, 'jour');
            create_input('journal[]', 'Journal', 'journal'+counter_jour,'jour', counter_jour, 'jour');
            create_input('year[]', 'Year, Vol., Page', 'year'+counter_jour,'jour', counter_jour, 'jour');
            create_input('impact[]', 'Impact Factor','impact'+counter_jour, 'jour', counter_jour, 'jour');
            create_input('doi[]', 'DOI','doi'+counter_jour, 'jour', counter_jour, 'jour');
            create_input('status[]', 'Status', 'status'+counter_jour,'jour', counter_jour,'jour',true, true);
            counter_jour++;
            return false;
        });
    
        // $("#add_more_confer").click(function(){
        //     create_tr();
        //     create_serial('confer');
        //     create_input('cname[]', 'Conference','cname'+counter_confer, 'confer',counter_confer, 'confer');
        //     create_input('ctitle[]', 'Title', 'ctitle'+counter_confer,'confer',counter_confer, 'confer');
        //     create_input('cyear[]', 'Year', 'cyear'+counter_confer,'confer',counter_confer, 'confer',true);
        //     counter_confer++;
        //     return false;
        // });
    
        $("#add_more_book").click(function(){
            create_tr();
            create_serial('book');
            create_input('bauthor[]', 'Book','bauthor'+counter_book, 'book',counter_book, 'book');
            create_input('btitle[]', 'Title of the Book', 'btitle'+counter_book,'book',counter_book, 'book');
            create_input('byear[]', 'Year', 'byear'+counter_book,'book',counter_book, 'book');
            create_input('bisbn[]', 'ISBN', 'bisbn'+counter_book,'book',counter_book, 'book',true);
            // create_input('bstatus[]', 'Status', 'bstatus'+counter_book,'book', counter_book,'book',true, true);
            // create_input('dol[]', 'Date of Leaving', 'dol'+counter_exp,'exp',counter_exp, 'exp');
            // create_input('duration2[]', 'Duration','duration2'+counter_exp, 'exp',counter_exp,'exp', true);
            // //create_input('perce[]', 'Percentage', 'perce'+counter_exp,'exp', true);
            counter_book++;
            return false;
        });
    
    
        $("#add_more_book_chapter").click(function(){
            create_tr();
            create_serial('book_chapter');
            create_input('bc_author[]', 'Book Chapter','bc_author'+counter_book_chapter, 'book_chapter',counter_book_chapter, 'book_chapter');
            create_input('bc_title[]', 'Title', 'bc_title'+counter_book_chapter,'book_chapter',counter_book_chapter, 'book_chapter');
            create_input('bc_year[]', 'Year', 'bc_year'+counter_book_chapter,'book_chapter',counter_book_chapter, 'book_chapter');
            create_input('bc_isbn[]', 'ISBN', 'bc_isbn'+counter_book_chapter,'book_chapter',counter_book_chapter, 'book_chapter',true);
            counter_book_chapter++;
            return false;
        });
    
    
        $("#add_more_patent").click(function(){
            create_tr();
             create_serial('patent');
            create_input('pauthor[]', 'Inventor(s)','pauthor'+counter_patent, 'patent',counter_patent, 'patent');
            // create_input('p_year[]', 'Year of the patent','p_year'+counter_patent, 'patent',counter_patent, 'patent');
            create_input('ptitle[]', 'Title of Patent', 'ptitle'+counter_patent,'patent',counter_patent, 'patent');
            create_input('p_country[]', 'Country of patent','p_country'+counter_patent, 'patent',counter_patent, 'patent');
            create_input('p_number[]', 'Patent Number','p_number'+counter_patent, 'patent',counter_patent, 'patent');
            create_input('pyear_filed[]', 'DD/MM/YYYY','pyear_filed'+counter_patent, 'patent',counter_patent, 'patent');
            create_input('pyear_published[]', 'DD/MM/YYYY','pyear_published'+counter_patent, 'patent',counter_patent, 'patent');
            create_input('pyear_issued[]', 'DD/MM/YYYY','pyear_issued'+counter_patent, 'patent',counter_patent, 'patent',true);
            // create_input('pyear[]', 'Year', 'pyear'+counter_patent,'patent',counter_patent, 'patent',true);
            // create_input('pstatus[]', 'Status', 'pstatus'+counter_patent,'patent', patent,'patent',true, true);
            // create_input('dol[]', 'Date of Leaving', 'dol'+counter_exp,'exp',counter_exp, 'exp');
            // create_input('duration2[]', 'Duration','duration2'+counter_exp, 'exp',counter_exp,'exp', true);
            // //create_input('perce[]', 'Percentage', 'perce'+counter_exp,'exp', true);
            counter_patent++;
            return false;
        });
      });
      function create_select()
      {
        
      }
      function create_tr()
      {
        tr=document.createElement("tr");
      }
      function create_serial(tbody_id)
      {
        //console.log(tbody_id);
        var td=document.createElement("td");
        // var x=0;
         var x = document.getElementById(tbody_id).rows.length;
        // if(document.getElementById(tbody_id).rows)
        // {
        // }
        td.innerHTML=x;
         tr.appendChild(td);
      }
      function create_input(t_name, place_value, id, tbody_id, counter, remove_name, btn=false, select=false)
      {
        //console.log(counter);
        if(select==false)
        {
    
          var input=document.createElement("input");
          input.setAttribute("type", "text");
          input.setAttribute("name", t_name);
          input.setAttribute("id", id);
          input.setAttribute("placeholder", place_value);
          input.setAttribute("class", "form-control input-md");
          input.setAttribute("required", "");
          var td=document.createElement("td");
          td.appendChild(input);
        }
        if(select==true)
        {
    
          var sel=document.createElement("select");
          sel.setAttribute("name", t_name);
          sel.setAttribute("id", id);
          sel.setAttribute("class", "form-control input-md");
          sel.innerHTML+="<option>Select</option>";
          sel.innerHTML+="<option value='published'>Published</option>";
          sel.innerHTML+="<option value='accepted'>Accepted</option>";
          // sel.innerHTML+="<option value='in_preparation'>In-Preparation</option>";
          var td=document.createElement("td");
          td.appendChild(sel);
        }
    
        if(btn==true)
        {
          // alert();
          var but=document.createElement("button");
          but.setAttribute("class", "close");
          but.setAttribute("onclick", "remove_row('"+remove_name+"','"+counter+"', '"+tbody_id+"')");
          but.innerHTML="x";
          td.appendChild(but);
        }
        tr.setAttribute("id", "row"+counter);
        tr.appendChild(td);
        document.getElementById(tbody_id).appendChild(tr);
        
      }
      function remove_row(remove_name, n, tbody_id)
      {
        var tab=document.getElementById(remove_name);
        var tr=document.getElementById("row"+n);
        tab.removeChild(tr);
        var x = document.getElementById(tbody_id).rows.length;
        for(var i=0; i<=x; i++)
        {
          $("#"+tbody_id).find("tr:eq("+i+") td:first").text(i);
          
        }
      }
    </script>
    
    <a href='https://ofa.iiti.ac.in/facrec_che_2023_july_02/layout'></a>
    
    <div class="container">
      
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8 well">
                <form class="form-horizontal" action="/formpages/4" method="POST">
                  <input type="hidden" value="" />
                <fieldset>
                 
                     <legend>
                      <div class="row">
                        <div class="col-md-10">
                            <h4>Welcome : <font color="#025198"><strong><%= firstname %>&nbsp;<%= lastname %></strong></font></h4>
                        </div>
                        <div class="col-md-2">
                          <a href="/logout" class="btn btn-sm btn-success  pull-right">Logout</a>
                        </div>
                      </div>
                    
                    
            </legend>
    
                 
    
        
                <!-- Form Name -->
                
                  
                <!-- Text input-->
               
                <h4 style="text-align:center; font-weight: bold; color: #6739bb;">5. Summary of Publications *</h4>
                <div class="row">
                  <div class="col-md-12">
                  <div class="panel panel-success">
                  <div class="panel-body">
    
                    <span class="col-md-5 control-label" for="summary_journal_inter">Number of International Journal Papers</span>  
                    <div class="col-md-1">
                    <input id="summary_journal_inter" value="" name="one[summary_journal_inter]" type="text" placeholder="" class="form-control input-md" required="" maxlength="3">
                    </div>
    
                    <span class="col-md-5 control-label" for="summary_journal">Number of National Journal Papers</span>  
                    <div class="col-md-1">
                    <input id="summary_journal" value="" name="one[summary_journal]" type="text" placeholder="" class="form-control input-md" required="" maxlength="3">
                    </div>
    
                    <span class="col-md-5 control-label" for="summary_conf_inter">Number of International Conference Papers</span>  
                    <div class="col-md-1">
                    <input id="summary_conf_inter" value="" name="one[summary_conf_inter]" type="text" placeholder="" class="form-control input-md" required="" maxlength="3">
                    </div>
    
                    <span class="col-md-5 control-label" for="summary_conf_national">Number of National Conference Papers</span>  
                    <div class="col-md-1">
                    <input id="summary_conf_national" value="" name="one[summary_conf_national]" type="text" placeholder="" class="form-control input-md" required="" maxlength="3">
                    </div>
    
                    <span class="col-md-5 control-label" for="patent_publish">Number of Patent(s) [Filed, Published, Granted] </span>  
                    <div class="col-md-1">
                    <input id="patent_publish" value="" name="one[patent_publish]" type="text" placeholder="" class="form-control input-md" required="" maxlength="3">
                    </div>
    
                    <span class="col-md-5 control-label" for="summary_book">Number of Book(s) </span>  
                    <div class="col-md-1">
                    <input id="summary_book" value="" name="one[summary_book]" type="text" placeholder="" class="form-control input-md" required="" maxlength="3">
                    </div>
    
                    <span class="col-md-5 control-label" for="summary_book_chapter">Number of Book Chapter(s)</span>  
                    <div class="col-md-1">
                    <input id="summary_book_chapter" value="" name="one[summary_book_chapter]" type="text" placeholder="" class="form-control input-md" required="" maxlength="3">
                    </div>
    
                  
    
                  
    
                   
    
                    
    
                  </div>
                  </div>
                  </div>
                  </div>   
    
               
               <h4 style="text-align:center; font-weight: bold; color: #6739bb;">6. List of 10 Best Publications (Journal/Conference)</h4>
    
               <div class="container-fluid table-responsive">
                  <div class="row">
                    
    
                   <div class="panel panel-success">
                    <div class="panel-heading">List of 10 Best Publications (Journal/Conference) &nbsp;&nbsp;&nbsp;
                      <button class="btn btn-sm btn-danger" id="add_more_jour">Add Details</button>
                    </div>
                    <table class="table table-bordered">
                        <tbody id="jour">
                        
                        <tr height="30px">
                          <th class="col-md-1"> S. No.</th>
                          <th class="col-md-2"> Author(s) </th>
                          <th class="col-md-1"> Title</th>
                          <th class="col-md-2"> Name of Journal/Conference </th>
                          <th class="col-md-1"> Year, Vol., Page</th>
                          <th class="col-md-1"> Impact Factor </th>
                          <th class="col-md-1"> DOI</th>
                          <th class="col-md-2"> Status</th>
                        </tr>
    
    
                                          </tbody>
                    </table>
    
                   </div>
                  
                </div>
    
                  
                </div> 
     
                    <!-- Conference input-->
                    
                <!--  <div class="container-fluid table-responsive">
                  <div class="row">
    
                    <div class="panel panel-success">
                     <div class="panel-heading">(B) Conference (List of 10 Best Publications)&nbsp;&nbsp;&nbsp;
                      <button class="btn btn-sm btn-danger" id="add_more_confer">Add Details</button>
                    </div>
                     <table class="table table-bordered">
                         <tbody id="confer">
                         
                         <tr height="30px">
                           <th class="col-md-2"> S. No. </th>
                           <th class="col-md-3"> Name of the Conference</th>
                           <th class="col-md-5"> Title of Paper </th>
                           <th class="col-md-2"> Year </th>
                         </tr>
    
    
                                            </tbody>
                     </table>
                </div>
    
                  
                </div> 
              </div> -->
    
               <!-- Patent Text -->
    
                 <div class="container-fluid table-responsive">
    
                  <h4 style="text-align:center; font-weight: bold; color: #6739bb;">7. List of  Patent(s), Book(s), Book Chapter(s)</h4>
                 <div class="row">
    
               <div class="panel panel-success">
                <div class="panel-heading">(A) Patent(s)&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger" id="add_more_patent">Add Details</button>  </div>
                <table class="table table-bordered">
                    <tbody id="patent">
                    
                    <tr height="30px">
                      <th class="col-md-1"> S. No.</th>
                      <th class="col-md-1"> Inventor(s) </th>
                      <!-- <th class="col-md-2"> Year of Patent </th> -->
                      <th class="col-md-2"> Title of Patent </th>
                      <th class="col-md-1"> Country of Patent </th>
                      <th class="col-md-1"> Patent Number</th>
                      <th class="col-md-1"> Date of Filing</th>
                      <th class="col-md-1"> Date of Published</th>
                      <th class="col-md-1"> Status Filed/Published/Granted</th>
                      <!-- <th class="col-md-1"> Date of Filed/Published (If not granted, mention "Awaited")</th> -->
                    </tr>
    
    
                                  </tbody>
                </table>
              </div>
                 
               </div>
    
                
               </div>
    
                <!-- Book Text -->
    
                 <div class="container-fluid table-responsive">
                  <div class="row">
    
                 <div class="panel panel-success">
                 <div class="panel-heading">(B) Book(s) &nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger" id="add_more_book">Add Details</button></div>
    
                 <table class="table table-bordered">
                     <tbody id="book">
                     
                     <tr height="30px">
                       <th class="col-md-1"> S. No.</th>
                       <th class="col-md-2"> Author(s)</th>
                       <th class="col-md-2"> Title of the Book </th>
                       <th class="col-md-2"> Year of Publication </th>
                       <th class="col-md-2"> ISBN</th>
                       <!-- <th class="col-md-2"> Status</th> -->
                     </tr>
    
    
                                    </tbody>
                 </table>
                </div>
                  
                
                </div>
    
                 
                </div>
    
    
                <br />
                <br />
    
                <!-- Book chapter Text -->
    
                 <div class="container-fluid table-responsive">
                  <div class="row">
    
                 <div class="panel panel-success">
                 <div class="panel-heading">(C) Book Chapter(s)&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-danger" id="add_more_book_chapter">Add Details</button></div>
    
                 <table class="table table-bordered">
                     <tbody id="book_chapter">
                     
                     <tr height="30px">
                       <th class="col-md-1"> S. No.</th>
                       <th class="col-md-2"> Author(s)</th>
                       <th class="col-md-2"> Title of the Book Chapter(s) </th>
                       <th class="col-md-2"> Year of Publication </th>
                       <th class="col-md-2"> ISBN</th>
                       <!-- <th class="col-md-2"> Status</th> -->
                     </tr>
    
    
                                    </tbody>
                 </table>
                </div>
                  
                
                </div>
    
                 
                </div>
    
    
                <br />
                <br />
                
    
     
    
                <h4 style="text-align:center; font-weight: bold; color: #6739bb;">8. Google Scholar Link *</h4>
                <div class="row">
                <div class="col-md-12">
                <div class="panel panel-success">
                <div class="panel-heading">URL</div>
                <div class="panel-body">
                  <span class="col-md-2 control-label" for="google_link">Google Scholar Link </span>  
                  <div class="col-md-10">
                  <input id="google_link" value="" name="google_link" type="text" placeholder="Google Scholar Link" class="form-control input-md" required="">
                  </div>
    
                  
    
                </div>
                </div>
                </div>
                </div>
    
    
                <!-- Button -->
    <div class="form-group">
    
      <div class="col-md-1">
        <a href="/formpages/3" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-fast-backward"></i></a>
      </div>
    
    <div class="col-md-11">
      <button id="submit" type="submit" value="Submit" class="btn btn-success pull-right">SAVE & NEXT</button>
      
    </div>
    
                 
                </div>
               
    
                </fieldset>
                </form>
                
                
    
            </div>
        </div>
    </div>
    
    <div id="footer"></div>
    </>