<% layout("/layout/every.ejs") %>
<body>
   <style>
    .iit-logo {
        max-width: 20vw;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .container1 {
        width: 94%;
        border-radius: 10px;
        margin-top: 20px;
        padding: 20px;
        box-shadow: 0px 1px 30px 1px #284d7a;
        background-color: #F7FFFF;
        margin-inline: auto;
        display: flex; /* Use flexbox to align items horizontally */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }
   </style>
    
    <link rel="stylesheet" type="text/css" href="https://ofa.iiti.ac.in/facrec_che_2023_july_02/css/pages.css">
    
    <div class="container1">
        <div class="col-md-10 col-md-offset-1">
            <div class="row" style="border-width: 2px; border-style: solid; border-radius: 10px; box-shadow: 0px 1px 30px 1px #284d7a; background-color:#F7FFFF;">
                <div class="col-md-6">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/52/Indian_Institute_of_Technology%2C_Patna.svg/1200px-Indian_Institute_of_Technology%2C_Patna.svg.png" class="iit-logo" />
                </div>
                <div class="col-md-6" style="border-radius: 0px 10px 10px 0px; height: 403px;">
                    <br />
                    <div class="col-md-10 col-md-offset-1">
                        <h3 style="text-align: center; color:red;"><strong>FORGOT PASSWORD</strong></h3><br />
                        <form action="/reset" method="post" class="form" role="form">
                            <input type="hidden" name="ci_csrf_token" value="" />
                            <div class="inner-addon left-addon">
                                <i class="glyphicon glyphicon-envelope"></i>
                                <input type="text" name="email" placeholder="Please Enter Your Registered Email" require type="email" />
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" name="submit" value="Submit" class="cancelbtn">Submit</button>
                                </div>
                                <div class="col-md-9">
                                    <a href="https://ofa.iiti.ac.in/facrec_che_2023_july_02/faculty/login"><button type="button" class="loginbtn pull-right">-->Login</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    </div>
    <div id="footer"></div>
</body>
